.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    img {
      margin: 0 auto;
      max-width: 120px;
    }
}
.navbar-toggle {
    z-index:3;
}
#hmenu_load_2 .hmenu_social_holder, #hmenu_load_2 .hmenu_product_holder {
  padding-right:35px!important;
}
