//Global font
$main-font:                  'Roboto', sans-serif!important;
$main-font-condense:         'Roboto Condensed', sans-serif;

// Glyphicons font path
$icon-font-path:        "../fonts/";


// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$tablet-width:          768px;
$laptop-width:          992px;
$desktop-width:         1024px;



// Colors
$brand-red:         #F13423 !default;
$brand-dark:        #242424 !default;
$brand-text:        #4A4A4A !default;
$brand-white:       #ffffff !default;
$brand-light-grey:  #F2F2F2 !default;
$brand-dark-grey:   #4A4A4A !default;
