@mixin button-red {
  background-color: $brand-red;
  color: $brand-white;
  font-size: 12px;
  border-radius: 30px;
  font-weight: 500;
  padding: 15px 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  &:hover {
    transition: all 0.6s ease;
    background: $brand-white;
    color: $brand-red;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
  }
}

@mixin button-white {
  background-color: $brand-white;
  color: $brand-red;
  font-size: 12px;
  border-radius: 30px;
  font-weight: 500;
  padding: 15px 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  &:hover {
    transition: all 0.6s ease;
    background: $brand-red;
    color: $brand-white!important;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
  }
}

// Proceed to Checkout Button
#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  margin: 0!important;
}

// Update Cart Button
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    padding: 15px 40px;
}