@mixin button-red {
  background-color: $brand-red;
  color: $brand-white;
  font-size: 12px;
  border-radius: 30px;
  font-weight: 500;
  padding: 15px 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  &:hover {
    transition: all 0.6s ease;
    background: $brand-white;
    color: $brand-red;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
  }
}

@mixin button-white {
  background-color: $brand-white;
  color: $brand-red;
  font-size: 12px;
  border-radius: 30px;
  font-weight: 500;
  padding: 15px 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  &:hover {
    transition: all 0.6s ease;
    background: $brand-red;
    color: $brand-white;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
  }
}
